body {
  margin: 0;
  padding: 0;
  position: relative;

  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px auto;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;

  width: 0;
  height: 0;
  margin: -1px;

  clip: rect(0 0 0 0);
}
.main-header-element-checkout {
  background-color: #63a63e;
}
.main-header ul {
  list-style: none;
}
.main-header a {
  color: #ffffff;
}
.main-bottom-header {
  background-color: #f3f7f9;
}
.main-upper-header {
  background-color: #293449;
}
.main-header-name p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}
.main-header-contact-phone {
  font-weight: 400;

  border: solid 3px white;
}
.basket-full {
  background-color: #ee3643;
}
.main-header-contact-phone a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}
.user-navigation-authorized-menu li {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}
.user-navigation-authorized-menu a {
  color: #32425c;
}
.main-header-contact-address p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.main-header-user-navigation-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation-menu {
  background-color: #32425c;
}
.promo ul {
  list-style: none;
}
.promo-1 h3,
.promo-2 h3 {
  font-size: 24px;
  line-height: 30px;
}
.promo-items a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}
.promo-item-materials {
  background-color: #ffbf47;
}
.promo-item-instruments {
  background-color: #3bbce3;
}
.promo-item-technics {
  background-color: #dc91d8;
}
.promo-item-sales {
  background-color: #8ed78f;
}
.promo-item-delivery {
  background-color: #ffc047;
}
.promo-item-drills h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.promo-items a {
  background-color: rgba(0, 0, 0, 0.1);
}
.promo-item-drills p {
  font-size: 18px;
  line-height: 24px;
}
.promo-item-drills a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}
.featured-header,
.featured-header-producers {
  background-color: #f9f5f0;
}
.featured-header h2,
.featured-header-producers h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.featured-header a,
.featured-header-producers a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}
.item {
  font-family: "PT Sans", Arial, sans-serif;

  border: solid 1px #eaeaea;
}
.item-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}
.item-discount {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.item-name {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.featured-producer {
  border: solid 1px #eaeaea;
}
.featured-producer ul {
  list-style: none;
}
.services {
  color: #000000;

  background-color: #f4f8f9;
}
.services p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services-intro h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services-description-list h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}
.services-list {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}
.services-list a {
  color: #ffffff;

  background-color: #32425c;
}
.about h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.about p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
.transfer-company span {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
}
.company a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}
.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}
.main-upper-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}
.main-upper-footer ul {
  list-style: none;
}
.main-bottom-footer {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}
.main-bottom-footer ul {
  list-style: none;
}
.bottom-list {
  color: #f5ca7e;
}
.upper-list,
.phone {
  color: #ffffff;

  border-bottom: solid 1px rgba(0, 0, 0, 0);
}
.feedback a {
  color: #f5ca7e;
}
.developed-by a {
  color: #f5ca7e;
}
/* catalog */
.catalog-navigation-menu {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}
.catalog-navigation-menu ul {
  list-style: none;
}
.catalog-navigation-menu li {
  text-transform: uppercase;
}
.catalog-navigation-menu a {
  color: #000000;
}
.perforators {
  background-color: #f2f6f8;
}
.perforators h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.controls,
.sorting-filter {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  background-color: #f7f3ec;
}
.cost-neutral span {
  color: #000000;

  background-color: #ffffff;
}
.filter {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
}
.tags {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}
.sorting ul {
  list-style: none;
}
.submit-filter {
  width: 140px;
  padding: 9px 35px 9px 35px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #ffffff;
  border: 1px solid #c4c1bb;
}
.producer-list,
.supply-list {
  padding-bottom: 44px;

  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
.all-items {
  margin-left: 20px;

  font-family: "PT Sans", Arial, sans-serif;
}
.item-new {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.item span:not(.new) {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.item-buy-menu a:first-of-type:not(.item-new) {
  color: #ffffff;

  background-color: #63a63e;
}
.item-buy-menu a:nth-of-type(2) {
  color: #32425c;

  background-color: #ffffff;
  border: solid 2px #63a63e;
}
.page-number a {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.about-catalog {
  background-color: #f2f6f8;
}
.about-catalog p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
.about-catalog h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
/* styleguide */
.main-header-element-bookmarks:hover,
.main-header-element-basket:hover {
  background-color: #212a3a;
}
.main-header-element-bookmarks a:hover::before,
.main-header-element-basket a:hover::before,
.main-upper-header-element-search form:hover::before {
  opacity: 1;
}
.main-header-element-bookmarks a:active::before,
.main-header-element-basket a:active::before {
  opacity: 0.5;
}
.main-upper-header-element-search input:active {
  background-color: #ffffff;
}
.main-header-element-checkout:hover {
  background-color: #5fbb2d;
}
.main-header-element-bookmarks a:active,
.main-header-element-basket a:active {
  background-color: #161d29;
}
.main-header-element-checkout a:active {
  background-color: #518534;
}
.main-header-user-navigation-menu a:hover {
  color: #ee3643;
}
.main-header-user-authorized a:hover {
  color: #000000;
}
.user-navigation-authorized-menu a:hover {
  color: #ee3643;
}
.user-navigation-authorized-menu a:active,
.main-header-user-navigation-menu a:active {
  color: #cacaca;
}
.site-navigation-menu a:hover {
  background-color: #293449;
}
.site-navigation-menu a:active {
  background-color: #1d2739;
  opacity: 0.5;
}
.promo-items a:not(.slider-dot-empty):not(.slider-dot-full):hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-items a:not(.slider-dot-empty):not(.slider-dot-full):focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-item-drills a:not(.slider-dot-empty):not(.slider-dot-full):hover {
  background-color: #ca2c37;
}
.promo-item-drills a:not(.slider-dot-empty):not(.slider-dot-full):focus {
  background-color: #ba2732;
}
.item-buy-menu a:first-of-type:not(.item-new):hover {
  background-color: #5fbb2d;
}
.item-buy-menu a:nth-of-type(2):hover {
  border: solid 2px #32425c;
}
.item-buy-menu a:first-of-type:not(.item-new):active {
  background-color: #518534;
}
.item-buy-menu a:nth-of-type(2):active {
  color: #c1c6ce;

  border: solid 2px #c1c6ce;
}
.services-list a:active,
.services-list a:focus {
  color: #32425c;

  background-color: #ffffff;
  border-bottom: 1px solid white;
}
.services-list a:not(:focus):hover {
  background-color: #293449;
}
.upper-list:hover {
  border-bottom: solid 1px #ffffff;
}
.bottom-list:hover {
  border-bottom: solid 1px #f5ca7e;
}
.main-footer-navigation a:active {
  border-bottom: 0;
  opacity: 0.5;
}
.feedback a:hover,
.developed-by a:hover {
  border-bottom: solid 1px #f5ca7e;
}
.feedback a:active,
.developed-by a:active {
  color: #ee3643;

  border-bottom: 0;
}
.actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom: 3px solid #367315;
}
.actions .bookmark:hover {
  border: 3px solid #32425c;
}
.actions .buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}
.actions .bookmark:active {
  color: #c1c6ce;

  border: 3px solid #c1c6ce;
}
.actions .buy:hover::before {
  top: 8px;
  left: 13px;

  width: 15px;
  height: 15px;

  opacity: 1;
}
/* flex */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-upper-header-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.main-upper-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  background-color: #293449;
}
.main-upper-header-elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 940px;
  margin: 0;
  padding: 0;
}
.main-upper-header-element-logo {
  position: relative;

  display: block;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;
}
.main-upper-header-element-logo::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;

  width: 220px;
  height: 5px;

  background-color: #b52933;
}
.main-upper-header-element-search {
  position: relative;

  width: 270px;
  margin: 0;
}
.main-upper-header-element-search input {
  width: 220px;

  background-color: #293449;
  border: none;
}
.main-upper-header-element-search input::placeholder {
  color: white;
}
.main-upper-header-element-search form {
  padding: 10px 7px 0 49px;

  background-color: #293449;
}
.main-upper-header-element-search form::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 18px;

  background-image: url("../img/svg-technomart/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.main-header-element-bookmarks a {
  position: relative;

  display: block;
  width: 150px;
  padding: 12px 8px 10px 44px;
}
.main-header-element-bookmarks a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;

  width: 17px;
  height: 18px;

  background-image: url("../img/svg-technomart/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.main-header-element-basket a {
  position: relative;

  display: block;
  width: 150px;
  padding: 12px 20px 10px 49px;
}
.main-header-element-basket a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  width: 17px;
  height: 18px;

  background-image: url("../img/svg-technomart/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.main-header-element-checkout a {
  display: block;
  width: 150px;
  margin: 0;
  padding: 12px 16px 12px 21px;
}
.main-bottom-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.main-bottom-header {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: #f3f7f8;
}
.main-header-name {
  width: 300px;
  padding: 33px 40px 25px 53px;
}
.main-header-contacts {
  align-content: center;
  padding: 46px 31px 0 0;
}
.main-header-contact-phone {
  margin: 0;
  padding: 0;
}
.main-header-contact-phone a {
  position: relative;

  display: block;
  padding: 10px 50px 8px 71px;
}
.main-header-contact-phone a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;

  width: 21px;
  height: 21px;

  background-image: url("../img/svg-technomart/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.main-header-contact-address p {
  display: block;
  margin: 0;
  padding: 4px 0 0 10px;
}
.main-header-user-navigation {
  width: 300px;
  margin: 0;
  padding: 0;
}
.main-header-user-navigation-menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.sign-in {
  margin: 0;
  padding: 46px 0 4px 20px;
}
.sign-in a {
  position: relative;

  display: block;
  margin: 0;
  padding: 12px 25px 12px 46px;;
}
.sign-in a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 21px;
  height: 21px;

  background-image: url("../img/svg-technomart/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.sign-in a:hover::before {
  opacity: 1;

  fill: #32425c;
}
.sign-up {
  margin: 0;
  padding: 46px 0 0 10px;
}
.sign-up a {
  position: relative;

  display: block;
  margin: 0;
  padding: 12px 25px 12px 25px;;
}
.site-navigation-wrapper {
  width: 100%;
  padding-bottom: 63px;

  background-color: #f3f7f9;
}
.site-navigation-menu {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.site-navigation-menu::before {
  content: "";
  position: absolute;
  top: 55px;

  width: 940px;
  height: 5px;

  background-color: #293449;
}
.nav-main {
  display: block;
  width: 140px;
  margin: 0;
  padding: 19px 64px 19px 52px;
}
.nav-company {
  display: block;
  width: 126px;
  margin: 0;
  padding: 19px 64px 19px 28px;
}
.nav-catalog {
  display: block;
  width: 108px;
  margin: 0;
  padding: 19px 14px 19px 28px;
}
.nav-news {
  display: block;
  width: 126px;
  margin: 0;
  padding: 19px 64px 19px 31px;
}
.nav-offers {
  display: block;
  width: 165px;
  margin: 0;
  padding: 19px 64px 19px 18px;
}
.nav-delivery {
  display: block;
  width: 141px;
  margin: 0;
  padding: 19px 64px 19px 35px;
}
.nav-contacts {
  display: block;
  width: 133px;
  margin: 0;
  padding: 19px 64px 19px 18px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.promo {
  width: 940px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 55px;

  font-size: 0;
  line-height: 0;
}
.promo-items li {
  margin: 0;
  padding: 0;
}
.promo-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
}
.promo-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
  margin: 0;
  padding: 0;
}
.promo-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
}
.slider-2 {
  position: absolute;
  z-index: 1;

  width: 620px;
  min-width: 620px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-size: 0;
  line-height: 0;
}
.slider-1 {
  width: 620px;
  min-width: 620px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-size: 0;
  line-height: 0;
}
.promo-item-drills {
  position: relative;

  width: 620px;
  min-width: 620px;
  margin: 0;
  padding: 0;
}
.drills {
  position: absolute;
  bottom: 181px;
  left: 24px;
  z-index: 2;

  margin: 0;
  padding: 0;
}
.drills h3 {
  display: block;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}
.drills p {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 1px;
}
.catalog {
  position: absolute;
  bottom: 22px;
  left: 24px;
  z-index: 2;

  display: block;
  width: 196px;
  margin: 0;
  padding: 10px 45px 10px 51px;

  border-radius: 3px 3px;
}
.promo-item-materials .flag,
.item .flag,
.catalog-item .flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -1000px;
}
.promo-item-materials .flag-new,
.item .flag-new,
.catalog-item .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}
.promo-item-materials {
  position: relative;

  width: 300px;
  margin: 0;
  padding: 0;
}
.materials {
  padding-bottom: 22px;
}
.materials-info {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-left: 23px;
}
.materials-info h3 {
  display: block;
  margin: 0;
  padding: 20px 20px 12px 0;
}
.materials-info h3::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;

  width: 43px;
  height: 65px;

  background-image: url("../img/svg-technomart/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.materials-info a {
  display: block;
  width: 135px;
  margin: 0;
  margin-left: 2px;
  padding: 11px 22px 9px 24px;

  border-radius: 2px 3px;
}
.promo-item-instruments {
  position: relative;

  width: 300px;
  margin: 0;
  padding: 0;
}
.instruments {
  padding-bottom: 22px;
}
.instruments {
  margin: 0;
  padding: 0;
  padding-left: 22px;
}
.instruments h3 {
  display: block;
  margin: 0;
  padding: 21px 20px 13px 0;
}
.instruments h3::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 197px;

  width: 75px;
  height: 61px;

  background-image: url("../img/svg-technomart/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.instruments a {
  display: block;
  width: 136px;
  margin: 0;
  margin-left: 2px;
  padding: 10px 22px 10px 27px;

  border-radius: 2px 3px;
}
.promo-item-technics {
  position: relative;

  width: 300px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.technics {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  padding-left: 23px;
}
.technics h3 {
  display: block;
  margin: 0;
  padding: 21px 20px 13px 0;
}
.technics h3::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;

  width: 78px;
  height: 62px;

  background-image: url("../img/svg-technomart/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.technics a {
  display: block;
  width: 135px;
  margin: 0;
  padding: 10px 22px 10px 31px;

  border-radius: 2px 3px;
}
.promo-item-sales {
  position: relative;

  align-self: center;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
}
.sales {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  padding-left: 22px;
}
.sales h3 {
  display: block;
  margin: 0;
  padding: 19px 20px 13px 0;
}
.sales h3::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 196px;

  width: 59px;
  height: 72px;

  background-image: url("../img/svg-technomart/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.sales a {
  display: block;
  width: 135px;
  margin: 0;
  padding: 10px 18px 10px 24px;

  border-radius: 2px 3px;
}
.promo-item-delivery {
  position: relative;

  width: 300px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.delivery {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  padding-left: 23px;
}
.delivery h3 {
  display: block;
  margin: 0;
  padding: 21px 20px 13px 0;
}
.delivery h3::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 191px;

  width: 78px;
  height: 63px;

  background-image: url("../img/svg-technomart/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.delivery a {
  display: block;
  width: 135px;
  margin: 0;
  padding: 10px 22px 10px 37px;

  border-radius: 2px 3px;
}
.promo-items li {
  width: 300px;
}
.featured-items {
  width: 940px;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
}
.featured-header.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0;
  padding: 0;
}
.featured-header-producers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0;
  padding: 0;
}
.featured-producer {
  display: flex;
  width: 220px;
  height: 143px;
}
.featured-producer a {
  margin: auto;
}

.featured-header.items h2 {
  display: block;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 28px;
}
.featured-header-producers h2 {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.featured-header.items a {
  display: block;
  width: 253px;
  margin: 0;
  margin-left: 373px;
  padding: 11px 45px 9px 54px;

  border-radius: 3px 3px;
}
.featured-header-producers a {
  display: block;
  width: 253px;
  margin: 0;
  margin-right: 24px;
  padding: 10px 45px 10px 70px;

  border-radius: 3px 3px;
}
.featured-items-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
}
.featured-item {
  padding: 20px 0 20px 0;
}
.item {
  width: 220px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.item img {
  padding-top: 1px;
  padding-left: 1px;
}
.featured-producer {
  width: 220px;
}
.featured-header.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 90px;
  margin: 0;
  padding: 0;

  with: 940px;
}
.all-featured-items {
  display: block;
  margin: 0;
  padding: 0;
}
.featured-items-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.item {
  position: relative;

  display: inline-block;
  width: 218px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-bottom: 40px;

  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.item .title {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
}
.item .discount {
  padding-left: 10px;

  color: #999999;
  text-decoration: line-through;
}
.featured-producer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 20px 0 66px 0;
}
.featured-producer-list li:not(:nth-of-type(1)):not(:nth-of-type(5)) {
  width: 218px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.featured-producer-list li {
  height: 145px;
}

.featured-producer-list img {
  margin: 0 auto;
}
.services-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 95px;
}
.services {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 4px;

  background-color: #f4f7f9;
}
.services-more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
}
.services-description-delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  margin: 0;
  padding: 0;
}
.services-description-guarantee {
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  margin: 0;
  padding: 0;
}
.services-description-credit {
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  margin: 0;
  padding: 0;
}
.delivery-image {
  position: absolute;
  right: 1px;
  bottom: 18px;
  z-index: 0;

  width: 468px;
  min-width: 468px;
  height: 261px;
  min-height: 261px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
}
.credit-image {
  position: absolute;
  right: 1px;
  bottom: 18px;
  z-index: 0;

  width: 465px;
  min-width: 465px;
  height: 285px;
  min-height: 285px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
}
.guarantee-image {
  position: absolute;
  right: 1px;
  bottom: 18px;
  z-index: 0;

  width: 389px;
  min-width: 389px;
  height: 283px;
  min-height: 283px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
}
.delivery-about {
  width: 285px;
  margin: 0;
  margin-top: -3px;
  padding: 0;
  padding-left: 11px;
}
.credit-about {
  width: 300px;
  margin: 0;
  margin-top: -3px;
  padding: 0;
  padding-left: 11px;
}
.credit-send {
  position: absolute;

  width: 195px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 42px 10px 42px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ff5357;
  border-radius: 3px;
}
.credit-actions {
  padding-top: 10px;
}
.guarantee-about {
  width: 390px;
  margin: 0;
  margin-top: -3px;
  padding: 0;
  padding-left: 11px;
}
.delivery-about h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
}
.services-intro {
  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 58px;
}

.services-intro h2 {
  padding-bottom: 1px;
}
.about-catalog {
  width: 100%;

  background-color: #f4f7f9;
}
.services-list {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.services-list a {
  position: relative;

  display: block;
  margin: 0;
  padding: 12px 0 18px 22px;

  border-bottom: 1px solid #4d637b;
}
.services-list a:first-child {
  color: #32425c;

  background-color: #ffffff;
}
.services-list a:first-child::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 230px;
  z-index: 30;

  width: 10px;
  height: 272px;

  background-image: url("../img/delimiter.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 75px 0 85px 0;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-upper-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.main-upper-footer {
  width: 100%;
  margin: 0 auto;

  background-color: #32425c;
}
.main-upper-footer-about {
  width: 380px;
  margin: 0;
  padding: 0;
}
.main-footer-navigation {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0;
  padding: 0;
}
.upper-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}
.bottom-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}
.bottom-navigation li:not(:first-child) {
  margin-left: 45px;
}
.main-footer-navigation li {
  width: 80px;
}
.main-bottom-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.main-bottom-footer {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: #293449;
}
.main-header-logo {
  position: relative;

  padding: 0;

  maargin: 0;
}
.main-header-logo::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 220px;
  height: 5px;

  background-color: #b52933;
}
.footer-address {
  width: 330px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 2px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115px;
  margin: 0;
  padding: 0;
}
.main-bottom-footer-copyright {
  width: 230px;
  margin: 0;
  margin-right: 97px;
  padding: 0;
}
/* catalog */
.catalog-navigation-menu {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0;
  padding: 22px 0 17px 0;
}
.catalog-navigation-menu li {
  position: relative;

  padding-right: 42px;
}
.catalog-navigation-menu li:first-child {
  margin-left: -2px;
  padding-top: 1px;
}
.catalog-navigation-menu li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -27px;

  width: 8px;
  height: 12px;

  background-image: url("../img/svg-technomart/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.perforators {
  width: 940px;
  margin: 0;
  padding: 0;
}
.perforators h2 {
  display: block;
  width: 175px;
  margin: 0;
  padding: 32px 0 27px 10px;
  padding-left: 30px;
}
.sorting.sorting-by,
.sorting-by-controls.sorting {
  list-style: none;
}
.all-sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  padding-top: 21px;
}
.sorting-filter {
  width: 220px;
  margin: 0;
  padding: 0;
}
.sorting-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;

  border-radius: 3px;
}
.sorting-tag span {
  padding: 10px 20px 10px 20px;
}
.sorting.sorting-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 10px 0 10px 48px;
}
.sorting-by-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin: 0;
  padding: 10px 20px 10px 20px;
}
.sorting.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.sorting-filter {
  width: 220px;
  margin: 0;
  padding: 10px 0 10px 20px;

  border-radius: 3px;
}
.producer-list {
  list-style: none;
}
.producer-option {
  margin-bottom: 20px;
  padding-left: 34px;
}
.producer-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}
.producer-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg-technomart/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.producer-input-checkbox + label:hover::before {
  opacity: 1;
}
.producer-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg-technomart/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.producer-input-checkbox:checked + label:hover::after {
  opacity: 1;
}
.supply-tag {
  padding-top: 19px;
  padding-top: -2px;
}
.supply-option {
  margin-top: -1px;
  margin-bottom: 20px;
  margin-left: -7px;
}
.supply-list {
  list-style: none;
}
.supply-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}
.producer-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg-technomart/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.producer-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg-technomart/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.producer-input-radio:checked + label:hover::after,
.producer-input-radio + label:hover::before {
  opacity: 1;
}
.cost-tag {
  padding-top: 12px;
  padding-bottom: 14px;
}
.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}
.range-controls .bar {
  width: 85%;
  height: 2px;

  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 23px;

  background-image: url("../img/svg-technomart/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  padding-bottom: 22px;

  font-size: 0;

  border-bottom: 1px solid #e5e5e5;
}
.price-controls input {
  width: 95px;

  font-size: 17px;
  text-align: center;

  background: #f7f3ec;
  border: none;
  border-radius: 3px;
}
.min-price input {
  margin-right: 30px;
  padding: 10px 40px 10px 40px;
}
.max-price input {
  position: relative;

  padding: 10px 23px 10px 23px;
}
.max-price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background-image: url("../img/defis.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.max-price {
  position: relative;

  text-align: right;
}
/* Временно для сетки ??? */
.tag {
  width: 700px;
  margin: 0;
  padding: 12px 20px 12px 20px;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.item {
  position: relative;

  width: 220px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.item .item-price {
  position: relative;

  width: 125px;
  margin-left: 42px;
  padding: 10px 0 10px 14px;

  color: #ffffff;
  text-decoration: none;

  border-radius: 3px;
}
.item .item-discount {
  display: block;
  margin: 0;
  margin-top: -12px;
  margin-left: 4px;
  padding: 0;
  padding-bottom: 10px;
}
.item-price a {
  color: #ffffff;
}
.item .item-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -35px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}
.item-new .title {
  margin-bottom: 38px;
}
.image {
  margin: 0;
  padding: 0;
}
.item-name {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 1px;

  text-align: center;
}
.all-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}
.pages-numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}
.about-catalog {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: #f2f6f8;
}
.about-catalog-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 50px;
}
.producer-list {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #e5e5e5;
}
.item-list {
  width: 220px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.pages-numbers {
  list-style: none;
}
.pages-numbers li:not(:first-child) {
  margin-left: 10px;
}
.featured-producer:hover {
  border: none;
  box-shadow: 0 7px 30px 1px rgba(0,0,0,0.2);
  cursor: pointer;;
}
.featured-producer:active {
  box-shadow: 0 4px 10px 1px rgba(0,0,0,0.2);
  opacity: 0.5;;
}
.about {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-left: 2px;
}
.company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
}
.contacts {
  width: 380px;
  margin: 0;
  padding: 0;
}
.company-header {
  width: 530px;
  margin: 0;
  padding: 0;
}
.company-main {
  width: 444px;
  margin: 0;
  padding: 0;
}
.company-main p {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 9px;
}
.transfer-companies {
  margin: 0;
  padding: 0;
  padding-top: 12px;
}
.transfer-company span {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 10px;
}
.transfer-company {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 20px;
}
.transfer-companies .transfer-company:last-child {
  padding-bottom: 11px;
}
.transfer-company span::before {
  content: "";
  position: absolute;
  bottom: 19px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}
.company-more {
  display: block;
  width: 220px;
  margin-left: -2px;
  padding: 10px 25px 10px 41px;

  border-radius: 3px 3px;
}
.company-bottom {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 85px;
}
.contacts {
  width: 300px;
  margin: 0;
  padding: 0;
}
.contacts-header {
  width: 180px;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}
.map img {
  width: 300px;
  height: 158px;
}
.pm-us a {
  display: block;
  width: 300px;
  padding: 12px 40px 8px 65px;

  border-radius: 3px;
}
.pm-us {
  margin: 0;
  padding: 0;
  padding-top: 37px;
}
.upper-navigation-block {
  width: 550px;
  margin: 0;
  padding: 0;
}
.upper-navigation {
  padding-top: 38px;
  padding-left: 2px;
}
.bottom-navigation {
  padding-top: 33px;
  padding-left: 22px;
}
.bottom-list:nth-child(1) {
  padding-left: 3px;
}
.main-bottom-footer-copyright {
  padding-top: 22px;
}
.social-button {
  position: relative;
}
.image-vk {
  position: relative;
  z-index: 1;

  width: 26px;
  height: 15px;
}
.image-fb {
  position: relative;
  z-index: 1;

  width: 12px;
  height: 22px;
}
.image-insta {
  position: relative;
  z-index: 1;

  width: 21px;
  height: 21px;
}
.social {
  margin-right: 130px;
  margin-left: 68px;
}
.social li:first-child {
  position: relative;

  padding-top: 49px;
  padding-left: 2px;
}
.social li:nth-child(2) {
  position: relative;

  margin-right: 2px;
  padding-top: 46px;
}
.social li:nth-child(3) {
  position: relative;

  padding-top: 46px;
}
.social li:first-child::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -5px;
  z-index: 1;

  width: 40px;
  height: 40px;

  background: #212a3a;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.social li:first-child:hover::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -5px;
  z-index: 1;

  width: 40px;
  height: 40px;

  background: #ee3643;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.social li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -14px;
  z-index: 1;

  width: 40px;
  height: 40px;

  background: #212a3a;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.social li:nth-child(2):hover::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -14px;
  z-index: 1;

  width: 40px;
  height: 40px;

  background: #ee3643;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.social li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -9px;
  z-index: 1;

  width: 40px;
  height: 40px;

  background: #212a3a;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.social li:nth-child(3):hover::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -9px;
  z-index: 1;

  width: 40px;
  height: 40px;

  background: #ee3643;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.foot
.feedback,
.feedback a,
.feedback p,
.developed-by,
.developed-by a,
.developed-by p {
  margin: 0;
  padding: 0;
}
.feedback {
  margin-right: -10px;
  margin-right: 53px;
  padding-top: 38px;
}
.developed-by {
  padding-top: 38px;
}
.basket-full:hover {
  background-color: #ee3643;
}
.main-header-user-authorized {
  position: relative;

  width: 500px;
  padding-top: 46px;
  padding-left: 2px;
}
.main-header-user-authorized a:not(.logout) {
  position: relative;

  display: block;
  padding: 12px 70px 12px 45px;
}
.main-header-user-authorized a:not(.logout)::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/svg-technomart/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.user-navigation-authorized-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.orders {
  padding-top: 7px;
  padding-left: 18px;
}
.cabinet {
  position: relative;

  padding-top: 7px;
  padding-left: 33px;
}
.cabinet::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 16px;
  z-index: 1;

  width: 4px;
  height: 4px;

  background: #212a3a;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.producer-tag {
  padding-top: 17px;
  padding-bottom: 14px;
}
.all-items-list {
  width: 700px;
  margin: 20px auto;
}
.catalog-item {
  position: relative;

  display: inline-block;
  width: 220px;
  margin-bottom: 20px;

  font-weight: bold;
  line-height: 20px;
  text-align: center;

  border: 1px solid #cccccc;
}
.catalog-item .actions,
.item .actions {
  display: none;
}
.actions .buy {
  position: relative;
}
.actions .buy::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 13px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg-technomart/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.catalog-item .catalog-image {
  width: 216px;
  height: 151px;
}
.catalog-item .catalog-image img {
  max-width: 100%;
}
.catalog-item .catalog-title {
  min-height: 40px;
  margin-top: 10px;
  padding-right: 25px;
  padding-left: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.catalog-item .catalog-discount {
  min-height: 20px;
  margin-bottom: 3px;
  margin-left: 2px;
  padding-top: 10px;

  color: #999999;
  text-decoration: line-through;
}
.catalog-item .catalog-price {
  position: relative;

  width: 125px;
  margin: 10px auto;
  margin-bottom: 18px;
  margin-left: 41px;
  padding: 9px 0 9px 14px;

  color: #ffffff;
  text-decoration: none;

  background: #ee3643;
  border-radius: 3px;;
}
.catalog-item .catalog-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -35px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}
.catalog-item .actions,
.item .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 216px;
  height: 160px;
  padding: 40px 0;

  background-color: rgba(255,255,255,1);
}
.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}
.actions .bookmark {
  color: #32425c;

  background: white;
  border-bottom-color: #63a63e;
}
.catalog-item .actions,
.item .actions {
  display: none;
}
.catalog-item:hover .actions,
.item:hover .actions {
  display: block;
}
.catalog-item:hover {
  box-shadow: 0 7px 30px 1px rgba(0,0,0,0.2);
}
.catalog-image {
  margin-top: 2px;
  margin-bottom: 27px;
}
.catalog-item .catalog-title.no-discount {
  margin-bottom: 40px;
}
.pages-controls {
  margin: 0;
  margin-top: -40px;
  padding: 0;
  padding-bottom: 10px;
}
.page-number-1,
.page-number-2,
.page-number-3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-number:active,
.page-number:focus {
  color: #ffffff;

  background-color: #ee3643;
}
.page-number-1 a {
  margin: 0;
  padding: 0;

  color: #000000;
}
.page-number {
  border: 1px solid #e5e5e5;
}
.about-catalog-wrapper p {
  margin-top: -4px;
}
.about-catalog {
  padding-bottom: 5px;
}
.up-dir {
  margin-left: 20px;
  padding: 0;
}
.up {
  color: #ee3643;

  fill: #ee3643;
}
.down-dir {
  margin-left: 10px;
  padding: 0;
}
.cost {
  margin-right: 45px;
  margin-left: 70px;
}
.type {
  margin-right: 40px;
}
.func {
  margin-right: 10px;
}
.page-number {
  display: block;
  padding: 9px 15px 9px 15px;

  font-size: 13px;
  color: black;

  border-radius: 3px;
}
.page-number-1 {
  color: white;
}
.all-items-list {
  padding-bottom: 54px;
}
.page-number-next {
  padding: 9px 29px 9px 29px;
}
.map-popup {
  position: relative;

  width: 940px;
  height: 446px;
  margin: 0 auto;
  padding: 0;

  box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}
.map-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.contacts-popup {
  position: absolute;
  width: 620px;
  margin: 0 auto;
  padding: 0;
  z-index: 100;
  top: 2480px;
  left: 520px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;

  border-top: 8px solid #ff5357;
  box-shadow: 0 20px 30px 15px rgba(0,0,0,0.2);
}
.contacts-popup form {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.client-about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: inherit;
}
.client-name {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  padding-top: 45px;
  padding-left: 80px;
}
.client-email {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 45px;
}
.client-letter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 37px;
  padding-left: 80px;

  color: #000000;
}
.client-name input[type=text],
.client-email input[type=text],
.client-letter [placeholder] {
  color: #000000;
}
.client-name input,
.client-email input {
  width: 216px;
}
.client-letter textarea {
  width: 456px;
}
.client-name input,
.client-email input,
.client-letter textarea {
  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}
.client-name input:focus,
.client-email input:focus,
.client-letter textarea:focus,
.client-name input:active,
.client-email input:active,
.client-letter textarea:active {
  border-color: #ee3643;
  outline: none;
}
.client-name input:hover,
.client-email input:hover,
.client-letter textarea:hover {
  border-color: #b5b5b5;
  outline: none;
}
.client-name label,
.client-email label,
.client-letter label {
  padding-bottom: 8px;
}
.contacts-popup input,
.contacts-popup textarea {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;

  font-size: 13px;
  font-size: 400;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
}
.client-letter textarea[placeholder] {
  padding-bottom: 50px;
}
.contacts-popup-footer {
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: #f4f4f4;
}
.contacts-popup-footer button {
  width: 460px;
  margin-left: 80px;
  padding: 10px 196px 10px 196px;

  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}
.contacts-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-popup-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 620px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}
.confirmed {
  position: relative;

  padding-top: 70px;
  padding-bottom: 70px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
.confirmed::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 55px;

  width: 66px;
  height: 66px;

  background-image: url("../img/svg-technomart/form-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart-popup-actions {
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f1f1f1;
}
.cart-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-popup-actions {
  padding-left: 80px;
}
.cart-popup-actions a {
  display: block;
  width: 220px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}
.cart-popup-actions a:first-child {
  margin-right: 15px;
  padding: 9px 60px 9px 60px;
}
.cart-popup-actions a:nth-child(2) {
  margin-right: 15px;
  padding: 9px 42px 9px 42px;

  color: #000000;

  background-color: #ffffff;
}
.slider-dots {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 50;

  display: flex;
  flex-direction: row;

  border: none;
  border-top: none;
  border-radius: 0;
}
.slider-dots img:first-child {
  margin-right: 10px;
}
.slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  z-index: 60;
}
.slider-arrow-left {
  bottom: 112px;
  left: 25px;
}
.slider-arrow-right {
  right: 25px;
  bottom: 112px;
}
.page-number-1 {
  color: #000000;
}
.contacts-popup-footer button {
  cursor: pointer;
}
.sorting-tag a:not(.up-dir):not(.down-dir) {
  color: #c4c1bb;

  border-bottom: dotted 1px #ee3643;
}
.sorting-tag a:not(.up-dir):not(.down-dir):hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}
.sorting-tag a:active,
.sorting-tag a:focus {
  color: #ee3643;

  border: none;
}
.logout {
  position: absolute;
  top: 60px;
  right: 210px;
}
.catalog-price {
  cursor: pointer;
}
/* pop ups */
.contacts-popup,
.map-popup,
.cart-popup {
  display: none;
}
.popup {
  overflow: hidden;
  width:100%;
  z-index: 10;
}
.contacts-popup {
  position: absolute;
  width: 620px;
  margin: 0 auto;
  padding: 0;
  z-index: 20;
  top: 2480px;
  left: 520px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;

  border-top: 8px solid #ff5357;
  box-shadow: 0 20px 30px 15px rgba(0,0,0,0.2);
}
.cart-popup {
  position: absolute;

  width: 620px;
  margin: 0 auto;
  padding: 0;
  top: 500px;
  left: 520px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  z-index: 20;

  border-top: 8px solid #ff5357;
  box-shadow: 0 20px 30px 15px rgba(0,0,0,0.2);
}
.modal-show {
  display: block;
}
