body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  background-image: url('../img/technomart-index.jp');
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: center top;

}
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
}
.main-header-element-checkout {
  background-color: #63a63e;
}
.main-header ul {
  list-style: none;
}
.main-header a {
  color: #ffffff;
}
.main-bottom-header {
  background-color: #f3f7f9;
}
.main-upper-header {
  background-color: #293449;
}
.main-header-name p {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}
.main-header-contact-phone {
  border: solid 1px white;
  padding-left: 74px;
  padding-right: 52px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.main-header-basket-full {
  background-color: #ee3643;
}
.main-header-contact-phone a {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}
.user-navigation-authorized-menu li {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}
.user-navigation-authorized-menu a {
  color: #32425c;
}
.main-header-contact-address p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.main-header-user-navigation-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation {
  background-color: #32425c;
}
.promo ul {
  list-style: none;
}
.promo-items h3 {
  font-size:24px;
  line-height: 30px;
}
.promo-items a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}
.promo-items li:first-child {
  background-color: #ffbf47;
}
.promo-items li:nth-child(2) {
  background-color: #3bbce3;
}
.promo-items li:nth-child(3) {
  background-color: #dc91d8;
}
.promo-items li:nth-child(5) {
  background-color: #8ed78f;
}
.promo-items li:last-child {
  background-color: #ffc047;
}
.promo-items-drills img:nth-child(2),
.promo-item-drills img:nth-child(3),
.promo-item-drills img:last-child,
.promo-item-drills h3,
.promo-item-drills p,
.promo-item-drills a {
  display: none;
}
.promo-item-drills h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.promo-items a {
  background-color: rgba(0, 0, 0, 0.1);
}
.promo-item-drills p {
  font-size: 18px;
  line-height: 24px;
}
.promo-item-drills a {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.featured-header {
  background-color: #f9f5f0;
}
.featured-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}
.featured-header a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #ee3643;
}
.item {
  border: solid 1px #eaeaea;
  font-family: "PT Sans", Arial, sans-serif;
}
.item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ee3643;
}
.item span:not(:item-new) {
  text-decoration: line-through;
  color: #a9a9a9;
  font-size: 17px;
  line-height: 18px;
}
.item-name {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}
.featured-producer {
  border: solid 1px #eaeaea;
}
.featured-producer ul {
  list-style: none;
}
.services {
  background-color: #f4f8f9;
  color: #000000;
}
.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-intro h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.services-description-list h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}
.services-list {
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  font-weight: 700;
}
.services-list a {
  color: #ffffff;
}
.about h2 {
  font-size: 30px
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
}
.about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}
.transfer-company p {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
}
.company a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-transform: uppercase;
}
.contacts a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-transform: uppercase;
}
.main-upper-footer {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.main-upper-footer ul {
  list-style: none;
}
.main-bottom-footer {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.main-bottom-footer ul {
  list-style: none;
}
.bottom-list a {
  color: #f5ca7e;
}
.upper-list {
  color: #ffffff;
}
.upper-list a {
  color: #ffffff;
}
.feedback a {
  color: #f5ca7e;
}
.developed-by a {
  color: #f5ca7e;
}
/* catalog */
.catalog-navigation-menu {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}
.catalog-navigation-menu ul {
  list-style: none;
}
.catalog-navigation-menu li {
  text-transform: uppercase;
}
.catalog-navigation-menu a {
  color: #000000;
}
.perforators {
  background-color: #f2f6f8;
}
.perforators h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}
.controls {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  color: #000000;
}
.cost-neutral span {
  background-color: #ffffff;
  color: #000000;
}
.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.tags {
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}
.sorting ul {
  list-style: none;
}
.sorting a:not(.up-dir):not(.down-dir) {
  color: #c4c1bb;
  border-bottom: dotted 1px #ee3643;
}
.submit-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #c4c1bb;
}
.producer-list,
.supply-list {
   font-size: 15px;
   line-height: 20px;
   color: #000000;
   text-transform: uppercase;
}
 .all-items {
   font-family: "PT Sans", Arial, sans-serif;
}
 .item-new {
   font-size: 18px;
   line-height: 20px;
   font-weight: 700;
   color: #000000;
}
 .item span:not(.new) {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}
.item-buy-menu a:first-of-type:not(.item-new) {
  background-color: #63a63e;
  color: #ffffff;
}
.item-buy-menu a:nth-of-type(2) {
  background-color: #ffffff;
  color: #32425c;
  border: solid 2px #63a63e;
}
.page-number a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.page-number-1 {
  background-color: #ee3643;
}
.about-catalog {
  background-color: #f2f6f8;
}
.about-catalog p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.about-catalog h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
/* styleguide */
.main-upper-header-element-search:hover,
.main-header-element-bookmarks:hover,
.main-header-element-basket:hover {
  background-color: #212a3a;
}
.main-header-element-checkout:hover {
  background-color: #5fbb2d;
}
.main-header-element-bookmarks a:focus,
.main-header-element-basket a:focus {
  background-color: #161d29;
}
.main-header-element-checkout a:focus {
  background-color: #518534;
}

.main-upper-header-element-search input:focus {
  background-color: #ffffff;
}
.main-header-user-navigation-menu a:hover {
  color: #ee3643;
}
.main-header-user-authorized a:hover {
  color: #000000;
}
.user-navigation-authorized-menu a:hover {
  color: #ee3643;
}
.user-navigation-authorized-menu a:focus,
.main-header-user-navigation-menu a:focus {
  color: #cacaca;
}
.site-navigation-menu a:hover {
  background-color: #293449;
}
.site-navigation-menu a:focus {
  background-color: #1d2739;
}
.promo-items a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-items a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-item-drills a:hover {
  background-color: #ca2c37;
}
.promo-items-drills a:focus {
  background-color: #ba2732;
}
.item-buy-menu a:first-of-type:not(.item-new):hover {
  background-color: #5fbb2d;
}
.item-buy-menu a:nth-of-type(2):hover {
  border: solid 2px #32425c;
}
.item-buy-menu a:first-of-type:not(.item-new):focus {
  background-color: #518534;
}
.item-buy-menu a:nth-of-type(2):focus {
  color: #c1c6ce;
  border: solid 2px #c1c6ce;
}
.featured-producer img:focus {
  opacity: 0.2;
}
.sorting-by a:hover {
  font-size: 50;
}
.sorting-by a:focus {
  color: #ee3643;
  border-bottom-style: none;
}
.services-list a:focus {
  background-color: #ffffff;
  color: #32425c;
}
.services-list a:hover {
  background-color: #293449;
}
.upper-list a:hover {
  border-bottom: solid 1px #ffffff;
}
.bottom-list a:hover {
  border-bottom: solid 1px #f5ca7e;
}
.main-footer-navigation a:focus {
  opacity: 0.5;
  border-bottom: 0px;
}
.feedback a:hover,
.developed-by a:hover {
  border-bottom: solid 1px #f5ca7e;
}
.feedback a:focus,
.developed-by a:focus {
  color: #ee3643;
  border-bottom: 0px;
}
/* flex */
.main-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-upper-header-wrapper {
  width: 100%;
  background-color: #293449;
}
.main-upper-header {
  width: 940px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-upper-header-elements {
  width: 940px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-bottom-header-wrapper {
  width: 100%;
  background-color: #f3f7f8;
}
.main-bottom-header {
  width: 940px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.main-header-name {
  width: 205px;
  margin: 0;
  padding: 0;
}
.main-header-contacts {
  width: 275px;
  margin: 0;
  padding: 0;
}
.main-header-user-navigation {
  width: 285px;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo {
  padding: 500px;
  width: 940px;
  margin: 0;
  padding: 0;
  margin-bottom: 53px;
}
.featured-items {
  width: 940px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.featured-producers {
  width: 940px;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
}
.services-wrapper {
  width: 940px;
  margin: 0 auto;
}
.services {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;

  background-color: #f4f7f9;
}
.about {
  width: 940px;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
}
.main-footer {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-upper-footer-wrapper {
  width: 940px;
  margin: 0 auto;
}
.main-upper-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  background-color: #32425c;
}
.main-bottom-footer-wrapper {
  width: 940px;
  margin: 0 auto;
}
.main-bottom-footer {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #293449;
}

/* Временно для сетки */
.main-header,
.main-upper-header,
.main-upper-header-wrapper,
.main-upper-header-elements,
.main-bottom-header,
.main-header-name,
.main-header-contacts,
.main-header-user-navigation,
.site-navigation,
.main-upper-header-element-logo,
.main-upper-header-element-search,
.main-header-element-bookmarks,
.main-header-element-basket,
.main-header-element-checkout,
.site-navigation-menu li,
.container,
.promo,
.featured-items,
.featured-producers,
.services,
.about,
.main-footer,
.main-upper-footer,
.main-upper-footer-wrapper,
.main-footer-navigation,
.main-bottom-footer,
.main-bottom-footer-wrapper,
.main-bottom-footer-copyright,
.social,
.feedback,
.developed-by {
  outline: 1px dashed lightgray;
}
